@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar Fira Code de Nerd Font */

:root {
    --background-color: #278dbd; /* Corrección de typo */
}

.example-container {
    height: 100vh; /* O cualquier altura que desees */
}
.body{
    font-family: 'Fira Code', monospace; /* Aplicar la fuente aquí */
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 1.5rem;
    font-size: 1em;
    color: black;
}

.content-side {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.571); /* Añadir sombra aquí */
}
