@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/handsontable/dist/handsontable.full.css';


/* Importar Fira Code de Nerd Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap') ;
:root {
    --background-color: #278dbd; /* Corrección de typo */
}

.example-container {
    height: 100vh; /* O cualquier altura que desees */
}
.body{
    font-family: 'Fira Code', monospace; /* Aplicar la fuente aquí */
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 1.5rem;
    font-size: 1em;
    color: black;
}
h1{
    margin-top: 2rem;
    font-family: 'Fira Code', monospace; /* Aplicar la fuente aquí */
}
.content-side {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.571); /* Añadir sombra aquí */
}


*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #CDCDCD;
    border: 2px solid #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #065F75;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #009EA3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #0DA38A;
  }
  
