.footer {
    padding: 20px;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Centrar el texto */
    position: relative; /* Posición relativa para el contenido */
    bottom: 0;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
  
    .footer-content {
      max-width: 1200px; /* Limitar el ancho del contenido */
      margin: 0 auto; /* Centrar el contenido horizontalmente */
    }
  
    .footer-links {
      display: flex;
      justify-content: center; /* Centrar los enlaces */
      gap: 15px; /* Espaciado entre los enlaces */
      margin: 10px 0; /* Margen superior e inferior */
  
      a {
        color: white; /* Color de los enlaces */
        transition: color 0.3s;
  
        &:hover {
          color: #ffcc00; /* Color de los enlaces al pasar el mouse */
        }
      }
    }
  
    .footer-text {
      margin-top: 10px; /* Margen superior para el texto */
      font-size: 0.9em; /* Tamaño de fuente más pequeño */
    }
  }
  