$primary-color: #0094ea;
$hover-color: #0074b3;

.menu-icons {
  display: flex;
  align-items: center;
  width: 100%; /* Asegurar que el <a> ocupe todo el ancho */
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: linear-gradient(90deg, rgb(0, 148, 234) , rgba(0, 148, 234, 0.8), rgba(0, 116, 179, 0.6)); /* Gradiente suave */
    color: #fff;
  }

  mat-icon {
    margin-right: 8px;
  }
}

mat-list-item {
  padding: 0; /* Quitar el padding de mat-list-item */
}

a {
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que el <a> ocupe todo el espacio */
  height: 100%; /* Asegura que el <a> ocupe toda la altura */
}
