<mat-nav-list>
  <mat-list-item>
    <a class="menu-icons">
      <mat-icon>house</mat-icon>
      <span>Home</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-icons">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-icons">
      <mat-icon>info</mat-icon>
      <span>Information</span>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <a class="menu-icons">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </a>
  </mat-list-item>
</mat-nav-list>
